
<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-item-divider color="primary">
        Liens
    </ion-item-divider>
  <ion-menu-toggle *ngFor="let m of menus">   
    <ion-item [routerLink]="[m.url]">
      <ion-icon [name]="m.icon" slot="start"></ion-icon>
      <ion-title>{{m.title}}</ion-title>
    </ion-item>
  </ion-menu-toggle>
  <ion-item-divider color="primary">
      Mon compte
  </ion-item-divider>
  <ion-menu-toggle>   
      <ion-item>
        <ion-icon name="person-add"></ion-icon>
        <ion-title>Créer un compte</ion-title>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>   
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-title>Messages</ion-title>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>   
        <ion-item>
          <ion-icon name="notifications"></ion-icon>
          <ion-title>Notification</ion-title>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>   
        <ion-item  fill="outline" (click)="presentModal()">
          <ion-icon name="cart"></ion-icon>
          <ion-title>Mon panier</ion-title>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>   
        <ion-item>
          <ion-icon name="help-circle"></ion-icon>
          <ion-title>A propos</ion-title>
        </ion-item>
    </ion-menu-toggle>
</ion-content>
</ion-menu>
<ion-router-outlet id="content"></ion-router-outlet>

